
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/components/navbar';
@import 'bulma/sass/base/generic';

$site-title-font: "Arial Black", sans-serif;
$bg-color-main: #e6e6e6;

html, body {
  background-color: $bg-color-main;
  height: 100%;
  margin: 0

}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.page-content {
  margin-top: 50px;
  margin-bottom: 50px;
}
